=============== 
Unity generated
===============
UnityOctopusRift/Temp/
UnityOctopusRift/Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
UnityOctopusRift/ExportedObj/
UnityOctopusRift/obj/
UnityOctopusRift/*.svd
UnityOctopusRift/*.userprefs
UnityOctopusRift/*.csproj
UnityOctopusRift/*.pidb
UnityOctopusRift/*.suo
UnityOctopusRift/*.sln
UnityOctopusRift/*.user
UnityOctopusRift/*.unityproj
UnityOctopusRift/*.booproj

============
OS generated
============
UnityOctopusRift/.DS_Store
UnityOctopusRift/.DS_Store?
UnityOctopusRift/._*
UnityOctopusRift/.Spotlight-V100
UnityOctopusRift/.Trashes
UnityOctopusRift/ehthumbs.db
UnityOctopusRift/Thumbs.db
